.lupaDiv {
  display: flex;
  gap: 24px;
}
.input {
  width: fit-content;
  background-color: inherit;
}
.cardWrapper {
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 10px;
  padding-bottom: 20px;
  align-items: start;
  gap: 20px;
}

@media (max-width: 768px) {
  .cardWrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 4px;
    align-items: start;
  }
}

@media (max-width: 1280px) {
  .cardWrapper {
    grid-template-columns: repeat(3, 1fr);
    gap: 24px 48px;
    align-items: start;
  }
}
.card {
  display: flex;
  flex-direction: column;
}
.cardBody {
  display: flex;
  margin-top: 5px;
  gap: 10px;
  color: #fff;
}
.cardLi {
  font-size: 13px;
  font-weight: 400;
  line-height: 16.38px;
  color: #ffffff;
}
.cardTitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 22.68px;
  color: #fff;
}
.cardMovies {
  display: flex;
  gap: 6px;
}
