.wrapper {
  height: 700px;
  width: 96px;
  margin-top: 10px;
  margin-left: 32px;
  margin-bottom: 32px;
  padding: 36px 32px 0 32px;
  border-radius: 16px;
  background-color: #161d2f;
}
.flapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.midWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  margin-top: 70px;
}

.oval {
  margin-top: 320px;
}
.link {
  width: 20px;
  height: 20px;
}

.link.active {
  background-color: white;
  border-radius: 50%;
  padding: 4px;
}
