.lupaDiv {
  display: flex;
  gap: 24px;
}
.input {
  background-color: inherit;
}
.cardWrapper {
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 10px;
  padding-bottom: 20px;
  align-items: start;
  gap: 20px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.card:hover .overlay {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 768px) {
  .cardWrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 4px;
    align-items: start;
  }
}

@media (max-width: 1280px) {
  .cardWrapper {
    grid-template-columns: repeat(3, 1fr);
    gap: 24px 48px;
    align-items: start;
  }
}
